%section.side-menu.off-canvas.position-left{"id"=>"offCanvasLeft","data-off-canvas"=>"","data-transition"=>"push"}
	%h3.menu-title Menu
	%p= link_to 'Songs', songs_path
	%p= link_to 'Media', media_path