.content
	%h1.content_heading Welcome To The Grandstand
	%p.content__teaser Display songs at church and other places in your web browser
	%a.content__cta Sign Up Now!
	
	.video
		= video_tag(["demo.mp4", "demo.webm"], controls: false, loop: true, autoplay: true, muted: true, autobuffer: true)