// Header Logo Bar
.logo-bar {
	// position: absolute;
	top: 0;
	width: 100%;
	position: relative;
    z-index: 5;

	.topnav {
		margin: 0;

		button {
			margin-bottom: 0.3rem;
			background-color: $primary-color-dark;

			i {
				font-size: 2.2rem;
			}
		}
	}

	.top-bar {
		background-color: $primary-color-dark;
		paddng: 0;
	}

	.title-bar .button {
		background-color: $primary-color-dark;
		color: $primary-color-text;
	}

	.top-bar {

		ul {
			float: right;
			background-color: $primary-color-dark;
		}
		
		li, li a {
			color: $primary-color-text;
			font-family: 'Baloo Thambi', cursive;
			font-size: 0.9rem;
		}
	}

	.logo-text {
		color: $primary-color-text;
		font-family: 'Baloo Thambi', cursive;
		font-size: 1.4rem;
	}

	.user-menu a, .title-bar-title {
		color: $primary-color-text;
		font-family: 'Baloo Thambi', cursive;
		font-size: 1.2rem;
	}

}

// Side nav side-menu
.side-menu {
	background-color: $primary-color-light;
	padding: 1.5rem;

	.menu-title {
		padding-top: 2rem;
	}
}

// Main content .main-content
.main-content {
	.song-text {

		border-radius: 3px;
    	border: 1px solid $accent-color;
		height: 75vh;
		overflow: auto;

		h1 {
			font-size: 1rem;
		}

		p {
			font-size: 0.7rem;
		}
	}
}

.footer-content {
	position: absolute;
    z-index: 5;
	text-align: center;
	bottom: 0;
	min-width: 100%;
	background-color: $primary-color-dark;

	p {
		font-size: 0.5rem;
		color: $primary-color-text;
	}
}