// For intro page only

.intro-page {

	background-color: #EAEAEA;
	height: 88vh;

	.content {
		position: relative;
		z-index: 2;
		top: 15%;
		margin: 0 auto;
		max-width: 720px;
		text-align: center;

		.content__heading {
			margin-bottom: 24px;
			color: rgb(39,39,39);
			font-size: 44px;
		}

		.content__teaser {
			margin-bottom: 24px;
			color: rgb(89,89,89);
			font-size: 22px;
		}

		.content__cta {
			display: inline-block;
			margin: 0;
			padding: 12px 48px;
			color: rgb(255,60,100);
			font-size: 22px;
			text-decoration: none;
			border: solid 4px rgb(255,60,100);
		}

	}

	.video {
		position: fixed;
		top: 50%; left: 50%;
		z-index: -200;
		transform: translate(-50%, -50%);
	}
}